/*
=============== 
Variables
===============
*/

:root {
    --ff-primary: 'Poppins', sans-serif;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --transition: all 0.3s linear;
    --spacing: 0.5px;
    --radius: 0.5rem;
    --max-width: 1170px;
    --fixed-width: 620px;
    --clr-primary-1: #f26d6e;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    letter-spacing: 0.5px;
}

body{
    font-size: 16px;
    background-color: #f9f9fc;
    width: 100%;

}
p, ol, li, a{
    line-height: 28px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 16px;
}


h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif !important;
}

.hero{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
    height: 350px;
    background: #EEECEC;
    max-width: 100%;
    text-align: center;
    font-size: 24px;
    color: #353433;

}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: absolute;
    top: 1px;
    left: 0px;
    right: 0px;

}
.behance-links{
    color: white;
    text-decoration: none;
}

.behance-links:hover{
    text-decoration: none;
    color: #442525;
}

ul {
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}

img:not(.logo) {
    width: 100%;
}
img {
    display: block;
    border-radius: 6px;
}

.project-button{
    color: white;
    padding: 15px;
    margin: 2px 0px;
    border: none;
    border-radius: 5px;
    background-color: var(--clr-primary-1);
    transition: var(--transition);
    box-shadow: 0 4px 8px 0 #ED6C6E;

}
.project-button:hover{
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f26d6e;
}



.workshop{
    margin: 0 auto;
}
#DS{
    padding-top: 20px;
}
/*
=============== 
Navbar
===============
*/


.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
    margin: 0 20px;
}
.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}


.links a{
    color: #353433;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    display: block;
    padding: 1rem 1rem;
    transition: var(--transition);
    background-color: links;
}
.links a:hover{
    background: #f26d6e;    
    color: #ffffff;
    padding-left: 1.5rem;
    text-decoration: none;
}

/* BY DEFAULT HIDE LINKS */
.link{
    height: 0rem;
    overflow: hidden;
    transition: var(--transition); 
}
.social-icons{
    display: none;
}

/* TOGGLE CLASS */
.show-links {
    height: 15rem;
    padding-top: 1rem;
    transform: rotate(0deg);
}


.name{
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    color: #353433;
    margin: 5px 0px 5px 5px;
}

.human{
    color:#f26d6e;
}
.daisy{
    color: #f26d6e;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}


/*==============CONTACT =================================*/
.contact-form{
    background-image: url(./images/Contact.png);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.contact-form p{
    color: white;
    font-size: 22px;
    font-weight: lighter;
    margin: 0 auto;
    line-height: 36px;
}
#contact{
    color: #6E3233;
    font-size: 48px;
}

.contact-para{
    color: white;
    font-size: 16px;
}

.email{
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    color: white;
    font-weight: 300;
    padding: 5px;
    letter-spacing: 0.5px;
    text-align: center;
}
.email:hover{
    color: white;
}

/*==============END OF CONTACT =================================*/

/*==============START OF FOOTER =================================*/



/*==============END OF FOOTER =================================*/

.selected, .works-title, .method{
    font-weight: bold;
    font-size: 32px; 
    color: #a1a1a5;
    text-align: center;
    background-color: #fbfbfc;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 22px;
    font-family: 'Poppins', sans-serif !important;
}




#middle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
}
.sample a{
    color: #222525;
    transition: var(--transition);
}
.sample a:hover{
    color: #ffffff;
    background-color: #f26d6e;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
}
*:focus{
    /*outline: 5px auto #f26d6e !important;*/
    outline-color: #f26d6e !important;
    outline-offset: -2px;
}

button:focus{
    border: 1px solid #442525;
}
/*=============================== CHANGED THE CODE BELOW =============================== */
#contact{
    font-size: 28px;
}
.email{
    font-size: 22px;
}
.container-image{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-text{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.container:hover{
    background-color: #f0d8d8;
}
#background-container{
    background-color:  #EEECEC;
}

nav{
    padding-top: 0.1rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-left: 35rem;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.nav-center{
    position: fixed;
    bottom: 0px;
    bottom: calc(0px + 1.18*env(safe-area-inset-bottom));
    left: 20px;
    right: 20px;
    z-index: 20;
    max-height: calc(10px * 110px);
    max-width: 100%;
    padding: 0rem 0rem;
    margin: 10px 20px;
    border-radius: 0px 20px;
    background-color: #faf5f5;
    box-shadow: 0 4px 8px 2px #f26d6d21;
}
.bk-img{
    position: absolute;
    max-width: 100vw;
    top: 0%;
    left: 0%;
}
.footer-para{
    margin: 10px;
}
#value{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: normal;
}
#profile-pic{
    width: 80px;
    height: 80px;
    box-shadow: 0 4px 8px 0 #35343346;
    border-radius: 50%;
}
.container-image2{
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}
.container-text2{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}
@media screen and (min-width: 950px){

    .nav-center{
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*padding-left: 0.4rem;
        padding-right: 0.4rem;*/
        position: fixed;
        top: 0;
        top: calc(1.18*env(safe-area-inset-top));
        left: 0;
        right: 0;
        margin: 0px 20px;
        z-index: 20;
        padding: 5px;
        max-height: 8vh;
        max-width: 100vw;
        border-radius: 0px 20px;
        background-color: #faf5f5;
        box-shadow: 0 4px 8px 2px #f26d6d21;
    }
/*
    .nav-center{
        padding-bottom: 1rem;
        padding-top: 1rem;
    }*/
    
    .sample a{
        color: #222525;
        transition: var(--transition);
    }
    .sample a:hover{
        color: #ffffff;
        background-color: #f26d6e;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        border-radius: 5px;
    }
    .name{
        font-size: 48px;
        line-height: 64px;
        font-weight: normal;
        color: #353433;
        width: 800px;
    }
    .human{
        color: #f26d6e;
    }
    #profile-pic{
        width: 150px;
        height: 150px;
        box-shadow: 0 4px 8px 0 #35343346;
        border-radius: 50%;
    }
    .daisy{
        color: #f26d6e;
        font-weight: 400;
        font-size: 32px;
        line-height: 10px;
        margin-top: 30px;

        text-align: center;
    }
    
    .hero{
        margin: 0 auto;
        background: #EEECEC;
        height: 600px;
        padding: 0rem;
        text-align: center;
    }

    .bk-img{
        position: absolute;
        max-width: 100vw;
        top: 0%;
        left: 0%;
    }
    .hero-img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0px;
    }
    #value{
        line-height: 36px;
        margin: 20px 280px;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        font-weight: 200;
    }

    .nav-toggle{
        display: none;
    }

    .links{
        height: auto;
        display: flex;
        justify-content: space-around;
        color: #353433;
    }

    .links a {
        padding: 2px 10px;
        margin-left: 5px;
        margin-right: 5px;
        color: #353433;
    }

    .links a:hover{
        padding: 2px 10px;
        background: #f26d6e;
        color:#ffffff;
        border-radius: 5px;
    }
    a:active{
        color: #f26d6e;
    }
    
    *:focus{
        /*outline: 5px auto #f26d6e !important;*/
        outline-color: #f26d6e !important;
        outline-offset: -2px;
    }
    button:focus{
        border: 1px solid #442525;
    }

    .social-icons{
        display: flex;
    }

    .social-icons a {
        margin: 0 0.5rem;
        transition: var(--transition);
        color: #646464;
    }
    .social-icons a:hover {
        color: #f26d6e;
        padding-right: 1px;
        padding-left: 1px;
    }
    header{
        background: #F5F5F5;
    }

    .selected, .method
    {
        font-weight: bolder;
        font-size: 32px;
        color: #807C7D;
        line-height: 64px;
        text-align: center;
    }
    .selected{
        padding-bottom: 0px;
        margin: 0px;
    }


    .email{
        font-size: 32px;
        line-height: 32px;
        color: white;
        font-weight: light;
        padding: 0rem;
        letter-spacing: 1px;
        text-align: center;
    }

    .container2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
        text-align: left;
        grid-template-areas: "img txt";
        transition: 0.5s;
        border-radius: 5px;
    }
    .container-image2{
        grid-area: "img";
        margin: 20px 100px;
    }
    .container-text2{
        grid-area: "txt";
        margin: 10px 10px 10px 100px;
    }


    .container{
        display: grid;
        grid-template-columns: 0px 500px 500px 0px;
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-template-areas: "image text";
        transition: 0.5s;
        border-radius: 5px;
    }
    .container:hover{
        background-color: #f0d8d8;
    }
    .container-image{
        grid-area: "image";
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container-text{
        grid-area: "text";
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        align-items: center;
        justify-content: center;
    }
    #background-container{
        background-color:  #EEECEC;
    }
    .footer-para{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }
    .contact-form p{
        margin: 0 220px;
        line-height: 40px;
    }
}

